//* CORES PRIMARIAS *//

$colorPrimary: hsl(0, 100%, 74%);
$colorPrimary2: hsl(154, 59%, 51%);



//* CORES NEUTRAS *//

$colorNeutrol: hsl(249, 10%, 26%);
$colorNeutrol2: hsl(246, 25%, 77%);

//* CORES SECUNDARIAS *//

$colorSecondary: hsl(248, 32%, 49%);